@media screen and (max-width:576px) {

    * {
        margin: 0;
        padding: 0;
    }

    header {
        border: 2px solid green;
        width: 100%;
        margin: 0 auto;
    }

    .navbar ul {
        display: none;
    }

    .navbar{
        margin: 10% 2%;
    }

    .menu-bar {
        border: 2px solid yellow;
        display: block;
    }

    .banner-container {
        border: 2px solid steelblue;
        flex-direction: column;
        margin: 10% 2%;
    }    
    
    .banner-left {
        width: 100%;
    }

    .banner-title {
        width: 50%;
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 120%;
    }

    .banner-subtitle {
        width: 63%;
    }

    .banner-btn-container {
        display: flex;
    }

    .banner-btn-1 {
        display: none;
    }

    .responsive-btn {
        display: block;
    }
    
    .banner-btn {
        width: 40%;
        padding: 2% 1%;
        font-size: 1rem;
        border-radius: 25px;
    }

    .banner-card {
        width: 45%;
        height: 12%;
        padding: 1% 2%;
    }

    .banner-card-1 {
        top: 43%;
        left: 0%;
    }

    .banner-card-2 {
        top: 8%;
        left: 55%;
    }

    .banner-card-1-title {
        font-size: 1.125rem;
        font-weight: 900;
        letter-spacing: 0.3px;
        margin-bottom: 0;
    }
    
    .banner-card-2-title {
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 0;
    }

    .banner-card-subtitle {
        font-size: 0.8rem;
    }


    /* Habits Section */

    .habits {
        border: 2px solid red;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .habits-top {
        border: 2px solid burlywood;
        margin: 1% 2%;
    }
    .habit-title {
        font-size: 2rem;
        font-weight: 900;
        line-height: 120%;
        margin-bottom: 3%;
    }
    
    .habits-card-container {
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        gap: 40px;
    }    


    /* Mile Section Styles */

    .mile{
        margin: 2% auto;
        flex-direction: column;
        gap: 0px;
        border-radius: 18px;
        background: rgb(34, 34, 34);
        justify-content: center;
    }
    .mile-left {
        width: 96%;
        margin: 1% 2%;
        justify-content: center;
    }
    
    .mile-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }

    .mile-btn-container {
        text-align: center;
    }

    .btn-mile {
        width: 85%;
        padding: 16px 40px 16px 40px;
    }

    .mile-right {
        text-align: center;
        width: 100%;
    }

    .mile-right img {
        width: 90%;
        border-radius: 18px;
        margin: 1% 2%;
    }

    /* BMI Section Styles */

    .bmi-intro {
        margin: 1% 2%;
    }

    .bmi-title {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 5%;
    }

    .bmi-container {
        margin: 5% 2%;
        flex-direction: column;
    }

    .bmi-chart {
        width: 100%;
        margin: 0;
    }

    .chart-title {
        font-size: 1rem;
        margin-bottom: 10%;
    }

    .bmi-cal-title {
        font-size: 1rem;
        font-weight: 900;
        margin-bottom: 5%;
    }

    .bmi-btn {
        width: 55%;
    }


    /* Meet Section */

    .meet {
        margin: 5% 2%;
    }

    .meet-info {
        margin: 2% 2%;
    }

    .meet-title {
        font-size: 2rem;
        margin-bottom: 5%;
    }

    .meet-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .trainer-name {
        font-size: 1rem;
    }

    .trainer-title {
        font-size: 0.875rem;
    }

}

