@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
/* Universal Styles */

html {
    font-size: 16px;
}
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto; 
    /* need toremove  */
    color: white;
    background-color: black;
}

.btn-primary {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}

.white-1{
    color: rgba(255, 255, 255, 0.5);
}

/* header styles */

header {
    border: 0.1px solid rgba(119, 119, 119, 0);
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 57px 190px 32px;
}

.menu-bar {
    display: none;
    height: 100%;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
}
.nav-items {
    display: flex;
    list-style: none;
    gap: 3.35rem;
    align-items: center;
}

/* Banner Styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px 100px;
}

.banner-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.banner-title {
    font-size: 4.875rem;
    font-weight: 900;
    line-height: 120%;
}

.banner-subtitle {
    letter-spacing: 0.5px;
}

.banner-span {
    font-weight: 400;
    font-family: 'Miama', sans-serif;                                                
    font-style: italic;                                    
}

.responsive-btn {
    display: none;
}

.banner-btn {
    width: 224px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    margin-right: 14px;
}

.banner-btn-2 {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

.banner-right {
    position: relative;
}

.banner-img {
    width: 100%;
    height: 100%;
}


.banner-card {
    position: absolute;
    width: 55%;
    height: 16%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.banner-card-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 23px;
    top: 71%;
    left: -30%;
}

.banner-icon {
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.banner-card-1-title {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}

.banner-card-2 {
    padding: 16px 23px;
    top: 25%;
    left: 70%;
}

.banner-card-2-title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* Habits Section Styles */

.habits {
    margin: 100px 198px;
    display: flex;
    flex-direction: column;
}

.habits-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 186.5px 55px;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}

.habit-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}


.habits-card-container {
    display: grid;
    grid-template-areas: 
    "a b c d";
    gap: 40px;
}

.habit-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-img img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 25px;
}

.habit-card-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.habit-card-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-align: center;
}




/* mile styles */

.mile{
    display: flex;
    margin: 0px 190px 100px;
    align-items: center;
    gap: 130px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.mile-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 50px;
}

.mile-title {
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}

.mile-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}

.btn-mile {
    padding: 16px 40px 16px 40px;
}

.mile-right {
    width: 45%;
}


.mile-right img {
    width: 90%;
    border-radius: 18px;
    margin: 30px 30px 30px 0px;
}


/* BMI Section Styles */

.bmi-intro {
    margin: 0 384.5px 88px;
}
.bmi-title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.bmi {
    background: rgb(34, 34, 34);
}

.bmi-container {
    margin: 0px 190px 100px;
    display: flex;
    justify-content: space-between;
}

.bmi-chart {
    width: 50%;
    margin: 52px 0px;
}
.chart-title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 54px;
}

table {
    border-collapse: collapse;
}

.bmi-chart td,th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 13px 15px;
}

.bmi-chart th {
    font-size: 1rem;
    font-weight: 500;
}
.bmi-chart td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.bmi-cal {
    margin: 49px 0px 52px;
}

.bmi-cal-title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-cal-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}

.input-group-1,.input-group-2 {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
}

.input-group-1 input,.input-group-2 input,select {
    width: 50%;
    padding: 12px 40px 12px 20px;
}
.input-group-3 select {
    width: 100%;
    margin-bottom: 34px;
}

.bmi-cal input,select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
}
.bmi-cal select {
    color: black;
    padding: 12px 70px 12px 20px;
}

.bmi-btn {
    width: 32%;
}

/* Plan Section Start */

.plan {
    border: 2px solid black;
}
.plan-container {
    margin: 0px 190px 100px;
}

.plan-part-1 {
    margin: 0px 250px;
    text-align: center;
    margin-bottom: 58px;
}

.plan-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.plan-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.plan-part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.info-1 {
    margin-bottom: 50px;
}

.four {
    color: red;
    font-size: 4rem;
}

.plan-card-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.plan-card-subtitle {
    font-size: 1.5rem;
}

.plan-card-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 50px;
}


.plan img {
    width : 100%;
    height: 100%;
    border-radius: 15px;
}

.info-3 {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
}

.info-3 .plan-card-description {
    margin-bottom: 25px;
}
.plan-card-minititle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}


/* Meet Section */

.meet {
    margin: 0px 190px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-info {
    margin: 0px 194.5px 58px;
    text-align: center;
}

.meet-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.meet-subtitle {
    font-size: 0.875rem;
    font-weight: 400;
}

.meet-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.trainer-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.trainer-card {
    position: relative;
    height: 100%;
}

.trainer-card img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
}

.trainer-info {
    position: absolute;
    top: 75%;
    left: 5%;
}

.trainer-name {
    font-size: 1.125rem;
}

.trainer-title {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 0.875rem;
}

/* Footer */

footer {
    border: 0.1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

.footer-content {
    margin: 66px 190px 59px 190px;
    display: flex;
}

.footer-left {
    width: 40%;
    margin-right: 100px;
}

.footer-title {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.footer-right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-part-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 39px;
}

.footer-items {
    list-style: none;
}

.footer-item {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 1.4375rem;
    margin-bottom: 20px;
}


.copyright-part {
    margin: 0px 190px;
    text-align: center;
}

.copyright-part hr {
    margin-bottom: 36px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copyright-part h4{
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}